
	
	* {
		box-sizing: border-box;
	}
	body {
		background-color: rgba(	140, 210, 210);
	}
	h1 {
		margin: 150px; 
		text-align: center;
		font-style: italic
		font-weight: bold;
		font-size: 300%;
	}
	section {
		position: relative;
		padding: 15px;
		width: 100%;
	}
	

	p {
		position: relative;
		clear: right;
	}
	div {
		position: relative;
		background-color: white;
		border: 1px solid black;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: auto;
	}
	.sub1 {
		font-family: Monospace;
		float: right;
		width: 200px;
		padding: 5px;
		margin: 0px;
		border: 1px solid black;
		text-align: center;
		font-size: 100%;
		font-weight: bold;
		background-color: black;
		color: white;
	}
	.sub2 {
		font-family: Monospace;
		float: right;
		width: 200px;
		padding: 5px;
		margin: 0px;
		border: 1px solid black;
		text-align: center;
		font-size: 100%;
		font-weight: bold;
		background-color: black;
		color: white;
		
	}
	.sub3 {
		font-family: Monospace;
		float: right;
		width: 200px;
		padding: 5px;
		margin: 0px;
		border: 1px solid black;
		text-align: center;
		font-size: 100%;
		font-weight: bold;
		background-color: black;
		color: white;
		
	}
	.content {
		padding: 5px;
		border: none;
		background-color: gray;
		font-family: Helvetica;
		color: black;
		margin: 0px;
		height: 200px;
		overflow: auto;
	}
	
	.row {
		width: 90%;
	}
	
	/*desktop version*/
	@media (min-width: 992px){
		.column-lg-4 {
			float: left;
			width: 33.33%;
		}
	}
	/*tablet version*/
	@media (min-width: 768px) and (max-width: 991px){
		.colmn-md-6 {
			float: left;
			width: 50%;
			margin-left: auto;
			margin-right: auto;
		}
		.colmn-md-12 {
			float: left;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	/*mobile version*/
	@media (max-width: 767px){
		.colmn-sm-12 {
			float: left;
			width: 100%;
		}
	}